name: Test

on:
  push:
    branches:
    - main
    - develop
  pull_request:
  
jobs:

  functional:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Set up python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install python dependencies
      run: pip install -r requirements.txt

    - name: Compile Code
      run: ape compile --size

    - name: Run Splitted Tests
      run: ape test
